@import "../theme.scss";

@include themed($themes) {
  .dropdown {
    .dropdown-button {
      color: theme-var("lightest");

      &:hover, &.is-dropdown-open {
        background-color: theme-var("selected");
      }
    }

    .dropdown-menu {
      background-color: theme-var("darker");

      .dropdown-items {
        .dropdown-item {
          &:hover {
            background-color: theme-var("selected");
            color: theme-var("darker");

            .shortcut {
              color: theme-var("darker");
            }
          }

          .shortcut {
            color: theme-var("disabled");
          }

          .dropdown-item-toggle-button {
            &.toggled {
              border: 1px solid theme-var("darkest-blue");
              background-color: theme-var("selected");
            }

            &.not-toggled {
              border: 1px solid theme-var("light");
            }
          }
        }
      }

      .dropdown-section-divider {
        border-top: 1px dashed theme-var("dark-blue");
      }
    }
  }
}

.dropdown {
  height: 24px;
  position: relative;

  .dropdown-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    user-select: none;
  }

  .dropdown-menu {
    position: absolute;
    top: 24px;
    left: 0;
    width: 211px;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    gap: 4px;

    &.sub {
      top: 0
    }

    .dropdown-items {
      display: flex;
      flex-direction: column;
      padding: 4px;

      .dropdown-item {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        color: unset;
        border: none;
        font-size: 16px;
        align-items: center;
        position: relative;
        cursor: pointer;

        .dropdown-item-left {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 4px;
          padding-left: 4px;

          .dropdown-item-toggle-button {
            width: 10px;
            height: 10px;
            padding: 0;
            background-color: transparent;
            border: none;
          }
        }

        .fill-space {
          width: 10px;
          height: 10px;
        }
      }
    }

    .dropdown-section-divider {
      width: 100%;
      height: 1px;
    }
  }
}