@import "../theme.scss";

@include themed($themes) {
  .header-container {
    .header {
      background-color: theme-var('dark');

      .header-title {
        h1 {
          color: theme-var('lightest');
        }
      }

      .tab-container {
        .tab {
          background-color: theme-var("dark-blue");

          &.opened-tab {
            background-color: theme-var("selected");
          }

          &:has(.icon:hover) {
            background-color: theme-var("delete");
          }
        }
      }

      .native-window-control {
        svg {
          color: theme-var("lightest");
        }

        &:hover {
          background-color: theme-var('light');
        }
      }
    }

    .bottom-header {
      background-color: theme-var('darker');

      div {
        color: theme-var('lightest')
      }
    }
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .header {
    height: 30px;
    width: 100%;
    user-select: none;
    display: flex;
    justify-content: space-between;

    .header-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3px 0 3px 3px;
      gap: 6px;
      user-select: none;

      img {
        user-select: none;
      }

      h1 {
        font-size: 16px;
        font-weight: 200;
        user-select: none;
      }
    }

    .tab-container {
      display: flex;
      height: calc(100% + 7px);
      align-items: center;

      .tab {
        height: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 9px;
        align-items: center;
        gap: 12px;
        cursor: pointer;

        p {
          font-size: 14px;
          height: min-content;
          text-align: center;
          vertical-align: center;
        }

        .icon {
          cursor: pointer;
        }
      }

      #add-new-tab-button {
        aspect-ratio: 1 / 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        padding: 0;
        cursor: pointer;

        .icon {
          margin: auto;
        }
      }
    }

    .window-control {
      display: flex;
      justify-content: center;
      align-items: center;

      .native-window-control {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        user-select: none;
        -webkit-user-select: none;
      }
    }
  }

  .bottom-header {
    height: 24px;
    width: 100%;
    display: flex;
    gap: 8px;

    div {
      display: flex;
    }
  }
}
