@import '../../theme';

@include themed($themes) {
  .loader-container {
    background: theme-var("darkest-blue");

    .loader {
      background: theme-var("lightest");
    }
  }

  .top-right-objects {
    .reload-button {
    }

    .world-chunk-indicator, .world-position-indicator {
      background-color: theme-var("darkest-blue");
    }

    .selected-chunk-indicator, .selected-position-indicator {
      background-color: theme-var("selected");
    }

    .world-position-indicator {
    }
  }
}

.loader-container {
  position: absolute;
  top: 82px;
  height: 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  transition: right 0.2s cubic-bezier(0.25, 0.9, 0.5, 1);
  transition-delay: 0.2s;

  &.visible {
    right: 0;
  }

  &:not(.visible) {
    right: -200px;
  }

  // Credit goes to https://cssloaders.github.io/
  .loader {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: flipX 1s linear infinite;
  }
}

.top-right-objects {
  display: flex;
  position: absolute;
  top: 54px;
  right: 2px;
  gap: 2px;

  .world-chunk-indicator, .world-position-indicator, .selected-chunk-indicator, .selected-position-indicator {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
  }

  .world-chunk-indicator, .selected-chunk-indicator {
    width: 50px;
  }

  .world-position-indicator, .selected-position-indicator {
    width: 100px;
  }
}