@import "../../theme.scss";

@include themed($themes) {
  .map-viewer-body {
    .map-viewer-form {

    }
  }
}

.map-viewer-body {
  overflow-y: auto;
  display: flex;
  height: 100%;
  flex-direction: column;

  .map-viewer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;

    .map-viewer-form-special, .map-viewer-form-terrain {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}