@import "../../theme.scss";

@include themed($themes) {

}

.new-map-viewer-body {
  overflow-y: auto;
  display: flex;
  height: 100%;
  flex-direction: column;

  .new-mapgen-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
  }
}
