@import "../../theme.scss";

@include themed($themes) {
  .settings-body {
    .keybindings-container {
      .keybinding {
        background-color: theme-var("dark-blue");
      }
    }
  }
}

.settings-body {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .form-element {
    margin-top: 8px;
  }

  .general-settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .keybindings-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .keybinding {
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;
    }
  }
}