@import "../theme.scss";

@include themed($themes) {
  .header {
    background-color: theme-var("dark-blue");

    .close-button {
      &:hover {
        background-color: theme-var("delete");
      }
    }
  }

  .window-body {
    background-color: theme-var("darker");
  }
}

.generic-window {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .header {
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    justify-content: space-between;

    h2 {
      font-size: 16px;
      font-weight: unset;
      pointer-events: none;
      margin: 0;
    }

    .close-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 32px;
      height: 32px;
    }
  }

  .window-body {
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
  }
}