@import "../../theme.scss";

.character-mapping {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .character-mapping-container {
    position: relative;
    width: 64px;
    height: 64px;

    .character-mapping-sprite {
      position: absolute;
    }
  }
}