@import "../../../theme";

@include themed($themes) {
  .loader-container {
    background: theme-var("dark-blue");

    .loader {
      background: theme-var("lightest");
    }
  }
}

@keyframes flipX {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

.sidebar-chosen-properties {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 8px;
}

.loader-container {
  position: absolute;
  top: 54px;
  height: 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  transition: right 0.2s cubic-bezier(0.25, 0.9, 0.5, 1);
  transition-delay: 0.2s;

  &.visible {
    right: 0;
  }

  &:not(.visible) {
    right: -200px;
  }

  // Credit goes to https://cssloaders.github.io/
  .loader {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: flipX 1s linear infinite;
  }
}