@import "theme";

@include themed($themes) {
  .resize-handle {
    background-color: theme-var("darker");

    &[aria-disabled="false"] {
      &:hover {
        background-color: theme-var("selected");
      }
    }
  }

  .side-panel {
    background-color: theme-var("dark");

    .item-container {
      border-color: theme-var("lightest");
    }
  }
}

.app {
  height: inherit;
  display: flex;
  flex-direction: column;

  main {
    height: 100%;
  }

  .main-canvas {
    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .resize-handle {
    transition: background-color 0.1s ease-in-out;
  }

  .side-panel {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;

    .menu-body-container {
      display: flex;
      height: 100%;
      flex-direction: column;

      .item-container {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        margin-bottom: 12px;
        border-width: 1px;
        border-style: solid;
      }
    }
  }
}