@import "theme";

@include themed($themes) {
  h1, h2, h3, h4, h5, h6, p, label {
    color: theme-var("lightest")
  }

  * {
    scrollbar-color: theme-var("selected") theme-var("darker");

    ::-webkit-scrollbar {
      background-color: red
    }
  }

  .divider {
    border-color: theme-var("darker");
  }

  button, select, input {
    background-color: theme-var("dark");
    color: theme-var("lightest");

    &:hover {
      background-color: theme-var("selected")
    }
  }

  input {
    &:focus, &:hover {
      &::placeholder {
        color: theme-var("lightest")
      }
    }
  }
}

@font-face {
  font-family: 'Unifont';
  src: local("Unifont"), url(../public/fonts/unifont.ttf) format('truetype');
}

:root, button, input, select, option, label {
  font-family: 'Unifont', sans-serif;
}

p {
  margin: 0;
}

button, select, input {
  cursor: pointer;
  border: none;
}

.interactable-text {
  color: #4682B4;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 0;
  border-bottom: 2px solid;
  margin-top: 8px;
  margin-bottom: 8px;
}

html {
  height: 100%;
  overflow: hidden;

  body {
    margin: 0;
    height: inherit;

    #root {
      height: inherit;
    }
  }
}