@font-face {
  font-family: 'Unifont';
  src: local("Unifont"), url(../public/fonts/unifont.ttf) format('truetype');
}

:root, button, input {
  font-family: 'Unifont', sans-serif;
}

p {
  margin: 0;
}

.interactable-text {
  color: #4682B4;
  cursor: pointer;
}

html {
  height: 100%;
  overflow: hidden;

  body {
    margin: 0;
    height: inherit;

    #root {
      height: inherit;

      .app {
        height: inherit;
        display: flex;
        flex-direction: column;
      }
    }
  }
}