$themes: (
        dark: (
                light: #282828,
                dark: #1E1E1E,
                darker: #0F0F0F,
                light-blue: #32558a,
                dark-blue: #23416E,
                darkest-blue: #1E2942,
                selected: #3B8BF3,
                delete: #CA3336,
                light-delete: #ed4e51,
                lightest: #FFFFFF,
                disabled: #868585
        ),
        light: (
                light: #797979, // Background (light greyish white)
                dark: #ffffff, // Text (dark grey, good contrast on light background)
                darker: #ffffff, // Heading or emphasis text
                light-blue: #8bb6cc, // Soft light blue (for highlights or accents)
                dark-blue: #EAEAEA, // Slightly darker blue (for links or primary buttons)
                darkest-blue: #2680EB, // Deep navy blue (for strong accents or footer)
                selected: #4e8de7, // Bright blue (for selected items or active elements)
                delete: #E74C3C, // Red (for errors or delete buttons)
                light-delete: #F28D8D, // Lighter red (for hover effects on delete)
                lightest: #000000, // Background (pure white)
                disabled: #B3B3B3, // Disabled elements (greyed out)
        )
);

@mixin themed($themes) {
  @each $theme, $map in $themes {
    .#{$theme}-theme {
      $theme-map: () !global;
      @each $key, $color in $map {
        $value: $color;
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function theme-var($key) {
  @return map-get($theme-map, $key);
}