@import "../../../theme";

@include themed($themes) {
  .sidemenu {
    .side-buttons {
      button {
        background-color: theme-var("darker");

        &:hover {
          background-color: theme-var("dark-blue")
        }

        &.selected {
          background-color: theme-var("selected");
        }
      }
    }
  }
}

.sidemenu {
  display: flex;
  width: 100%;
  gap: 8px;

  .side-buttons {
    display: flex;
    flex-direction: column;

    button {
      width: 32px;
      height: 32px;
    }
  }

  .side-content {
    flex: 1;
  }
}