@import "../../theme.scss";

@include themed($themes) {
  .editor-mode {
    background-color: theme-var("selected");
  }
}

.editor-mode {
  position: absolute;
  top: 54px;
  height: 32px;
  right: 0;
  align-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 0 8px;
}